:root {
    --emaar-black: #1A1A1A;
    --emaar-gold: #C5A572;
    --emaar-white: #FFFFFF;
}

body {
    background-color: var(--emaar-black) !important;
    color: var(--emaar-white) !important;
}

.navbar-emaar {
    background-color: var(--emaar-black) !important;
}

    .navbar-emaar .navbar-brand,
    .navbar-emaar .nav-link {
        color: var(--emaar-white) !important;
    }

        .navbar-emaar .nav-link:hover,
        .navbar-emaar .navbar-brand:hover {
            color: var(--emaar-gold) !important;
        }
.card-emaar {
    border: 1px solid var(--emaar-gold);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.btn-emaar:hover {
    background-color: #b7935e;
    color: var(--emaar-black);
}

.btn-emaar {
    background-color: var(--emaar-gold);
    border: none;
    color: var(--emaar-black);
}
